---
layout: page
title: 新闻动态
---
<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      {% for post in site.posts %}{% if post.layout=='post' and post.tags[0]!='weekmeeting' %}
      {% include post.html %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->

<!-- clients -->
<!-- <section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">My Clients</h2>
      </div>
    </div>
    {% include client-slider.html %}
  </div>
</section> -->
<!-- /clients -->