---
layout: default
title: main
permalink: /index copy.html
---

{% include hero-section.html %}

{% include about-section.html %}

{% include services-section.html %}

{% include blog-section.html %}

{% include meeting-section.html %}
<div class="button-container">
    <a class="button" href="#" id="顶部">顶部</a >
    <a class="button" href="#研究方向" id="研究方向">研究方向</a >
    <a class="button" href="#新闻动态" id="新闻动态">新闻动态</a >
    <a class="button" href="#每周组会" id="每周组会">每周组会</a >
    <!-- 添加更多按钮 -->
 </div>


  
  
  
  
  
  