<div class="content-wrapper">
  <div class="content-box">
    <div class="meeting-icon">
      <i class="fas fa-users"></i>
    </div>
    <h3>参加会议</h3>
    <p>这是一个会议的内容描述。</p>
  </div>

  <div class="content-box">
    <div class="project-icon">
      <i class="fas fa-tasks"></i>
    </div>
    <h3>参加项目</h3>
    <p>这是一个项目的内容描述。</p>
  </div>

  <div class="content-box">
    <div class="team-meeting-icon">
      <i class="fas fa-users"></i>
    </div>
    <h3>参加组会</h3>
    <p>这是一个组会的内容描述。</p>
  </div>
</div>