<!-- contact -->
<section class="section section-on-footer" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.contact-title }}</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80">欢迎来到平行仿真！</h4>
          <form  class="row loginlist" onsubmit="">
            <div class="col-lg-8 col-10 mx-auto">
              <input type="text" id="username" name="username" placeholder="账号：" class="form-control px-0 mb-4">
            </div>
            <div class="col-lg-8 col-10 mx-auto">
              <input type="password" id="password" name="password" placeholder="密码：" class="form-control px-0 mb-4">
            </div>
            <!-- <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Type Message Here"></textarea>
            </div> -->
            <div class="col-lg-6 col-10 mx-auto">
              <button type="button" class="btn btn-primary w-100" onclick="checkForm()" name="login">登录</button>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button type="button" class="btn btn-primary w-100" onclick="doSubmitForm()" name="visitor">以游客身份进入</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->